<!-- template that displays individual website entries -->
<template name="listWebsiteItem">
   <li id='{{ _id }}'>
      <a href="{{ url }}" target="_blank">
         {{ title }}
      </a>
      <p>
         {{ description }}
      </p>
      <div class="mt-posting-details">
         <p>Posted By: {{ getUserName createdBy }}</p>
         <p>Date Posted: {{ createdOn }}</p>
      </div>

      <a href="#" class="btn btn-default js-upvote">
         {{ upVotes }} <span class="glyphicon glyphicon-arrow-up mt-upvote" aria-hidden="true"></span> Up-Vote
      </a>
      <a href="#" class="btn btn-default js-downvote">
         {{ downVotes }} <span class="glyphicon glyphicon-arrow-down mt-downvote" aria-hidden="true"></span> Down-Vote
      </a>
      {{ #if currentOwner createdBy}}
      <a href="#" class="btn btn-default js-delete-site">
         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
      </a>
      {{ /if }}

      <div class="mt-site-comments-link">
         <a href="/sitedetail/{{ _id }}">
            <span class="glyphicon glyphicon-hand-right"></span> Comments and more details...
         </a>
      </div>
   </li>
   <div class="mt-block-line"></div>
</template>