<!-- navbar  - you will be putting the login functions here -->
<template name="navbar">
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <a class="navbar-brand mt-nav-header" href="#">Site Ace App</a>
         </div>
         <div>
            <ul class="nav navbar-nav navbar-right mt-sign-in">
               <li>{{> loginButtons align="right"}}</li>
            </ul>
         </div>
      </div>
   </nav>
</template>