/* CSS declarations go here */
.hidden_div{
	display: none;
}

.mt-sign-in {
   padding-top: 10px;
   font-size: 1.3em;
}

/*.mt-sign-in a {
   color: white;
}*/

.mt-row {
   /*text-align: center;*/
}

body {
   padding-top: 70px;
}

.mt-list-websites {
   padding-top: 20px;
   font-size: 1.5em;
}

.mt-add-website {
   font-size: 16px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.mt-nav-header {
   font-size: 1.75em;
}

.mt-block-line {
	background: rgba(119, 119, 119, 0.5);
	width: 500px;
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mt-block-line-site-detail {
	background: rgba(119, 119, 119, 0.5);
	width: 100%;
	height: 1px;
	margin-top: 20px;
}

.mt-votes {
   font-size: -50%;
   font-weight: bold;
}

.mt-posting-details {
   font-size: 75%;
   margin-bottom: 20px;
}

.mt-comment {
   font-size: 16px;
   padding-top: 10px;
   resize: vertical;
}

.mt-list-site-comments {
   padding-top: 20px;
   font-size: 1.25em;
}

.mt-site-posting {
   font-size: 1.5em;
   /*margin-top: 20px;*/
}

.mt-site-comments-link {
   margin-top: 20px;
   font-size: 75%;
}

.mt-site-comments-link-back {
   margin-bottom: 20px;
   font-size: 75%;
}

.mt-list-comments-row {
   margin-bottom: 30px;
}

.mt-upvote {
   color: green;
}

.mt-downvote {
   color: red;
}
