/* CSS declarations go here */
body {
   padding-top: 70px;
}

.js-rate-image {
   margin: auto;
}
.thumbnail {
   text-align: center;
   height: 450px;
}

.js-image {
   max-height: 225px;
}

.mt-thumb-image {
   max-height: 250px;
}

.mt-delete-button {
   padding-top: 10px;
}

h1, .modal-footer, .modal-title {
   text-align: center;
}

.mt-top-row {
   text-align: center;
   padding-bottom: 20px;
}

.modal-dialog {
   background-color: white;
   border-radius: 10px;
}

.mt-sign-in {
   padding-top: 10px;
   font-size: 1.3em;
}

.mt-remove-filter {
   font-size: 1.5em;
}

.img-responsive {
   margin: 0 auto;
}

