<!------------------------------------------------------------>
<!-- TEMPLATE - WELCOME                                     -->
<!------------------------------------------------------------>
<template name="welcome">
   <div class="jumbotron">
      <div class="row mt-top-row">
         <h1>Welcome to Image Share {{ username }} !</h1>
         <p class="lead">You can enter the app below to view the public image galary.  If you login with an account you can add your own images to the library.</p>
      </div>
      <div class="row mt-top-row">
         <a href="/images" class="btn btn-info btn-lg">Enter the App</a>
      </div>
   </div>
</template>